<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>face and mask detection</h1>

    <img src="{{ url_for('video_feed') }}" height="60%">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            refresh();
        });

        function refresh() {
            setTimeout(function () {
                $.getJSON('/recorded', function (data) {
                    console.log(data);
                    // if (data == "YES") {
                    //   window.location.href = "http://127.0.0.1:7890/recorddone";
                    // }
                    //$('#test').text(data);
                });
                refresh();
            }, 1000);
        }
    </script>
</body>

</html>