<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>face and mask detection</h1>
    <h3 id="facename"></h3>

    <img src="{{ url_for('video_feed') }}" height="60%">

    
    <label for="">face detected</label>
    <input type="checkbox" id="face">
    <label for="">mask detected</label>
    <input type="checkbox" id="mask">


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            refresh();
        });

        function refresh() {
            setTimeout(function () {
                $.getJSON('/recorded', function (data) {
                    console.log(data.face,data.mask);
                    document.getElementById('facename').innerHTML = data.face;
                    if (data.face) $('#face').prop('checked', true);
                    else $('#face').prop('checked', false);
                    
                    if (data.mask) $('#mask').prop('checked', true);
                    else $('#mask').prop('checked', false);
                    if (data.face != false & data.mask == true) {
                        //console.log('face and mask');
                        window.location.href = "http://127.0.0.1:8000/recorddone";
                    }
                });
                refresh();
            }, 1000);
        }
    </script>
</body>

</html>